<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Data Intro</h3>
    <ul>
      <li>Intro to data</li>
      <li>Jargon busting</li>
      <li>Keyboard shortcuts</li>
      <li>Plain text formats</li>
      <li>Naming files</li>
      <li>Regular expressions</li>
      <li><a href="http://data-lessons.github.io/library-data-intro/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Counting and sorting contents in files</li>
      <li>Pipes and redirection</li>
      <li>Mining or searching in files</li>
      <li><a href="http://data-lessons.github.io/library-shell/reference.html">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Configuring git</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing state changes with <code>status</code></li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to host work, and why</li>
      <li><a href="http://data-lessons.github.io/library-git/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-r">Open Refine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing data</li>
        <li>Basic functions</li>
        <li>Advanced Functions</li>
        <li><a href="http://data-lessons.github.io/library-openrefine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
<!--div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-sql">SQL Intro</h3>
    <ul>
      <li>What is SQL?</li>
      <li>Intro to SQLite Manager</li>
      <li>Importing a database</li>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li><a href="http://data-lessons.github.io//library-sql/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>
-->
